<section class="form-add w-100 h-100 p-4">
    <h2 class="fw-bold text-center text-white display-3">
        Add a new enterprise<br/>
    </h2>
    <form class="needs-validation" noValidate action="/admin/enterprises/add" method="post">
        <div class="form-floating mb-3">
            <input type="text" class="form-control fs-4" id="inputName" placeholder="Name" name="name" required/>
            <label for="inputName" class="text-secondary fw-bold fs-6">Name</label>
            <div class="invalid-feedback fs-5 fw-bold">
                This field is required
            </div>
        </div>
        <button type="submit" class="btn fs-4 text-white fw-bold">Create enterprise</button>
        <a href="/admin/enterprises" class="btn fs-4 text-white fw-bold">
            <i class="fa fa-times"></i> Cancel
        </a>
    </form>
    {{#if error}}
        <small class="fs-5 fw-bold" style="color: red;">{{message}}</small>
    {{/if}}
</section>