:root {
  --primary-color: #2572B1;
  --primary-color-faded: rgba(80, 132, 220, 0.4);
}

body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #113450;
  background-color: rgba(17, 52, 80, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

footer p {
  color: white;
  margin: 0;
}

header {
  background-color: var(--primary-color-faded);
  box-shadow: 0 0 3px 2px rgb(0 0 0 / 30%);
  border-radius: 12px;
  position: relative;
}

header section.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 25px;
}

#header-icon {
  width: 90px;
}

header h1 {
  color: white;
  font-size: 4rem;
  font-family: 'Cinzel', serif;
  font-weight: 500;
}

header .logout-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

header .logout-button a span {
  display:inline-block;
  max-width: 100px;
  overflow:hidden;
  text-overflow:ellipsis;
  line-height: 12px;
}

div.bg {
  background: url(/images/page-bg.jpg) no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

section.form-contact form button[type="submit"], section.form-add form button[type="submit"] {
  background-color: rgba(0, 46, 250, 0.15);
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.4);
}

section.form-add form a.btn {
  background-color: rgba(214, 18, 18, 0.45);
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.4);
}

section.form-contact form button[type="submit"]:hover, section.form-add form button[type="submit"]:hover {
  background-color: rgba(0, 46, 250, 0.45);
}

section.form-add form a.btn:hover {
  background-color: rgba(214, 18, 18, 0.8);
}

section.form-contact h2 small {
  background-color: rgba(0, 46, 250, 0.15);
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.4);
  border-radius: 15px;
}

.admin-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
}

.dashboard-section .admin-grid {
  gap: 15px;
}

.admin-navbar.admin-grid {
  gap: 20px;
  padding: 0 15px;
  padding-bottom: 10px;
}

.admin-navbar.admin-grid a.btn.admin-header--field:hover {
  background-color: rgba(47, 79, 110, 0.9);
  color: white;
}

.admin-navbar.admin-grid a.btn.admin-header--field.active {
  background-color: rgba(47, 79, 110, 0.9);
  color: white;
  border: none;
  box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.7);
}

.dashboard-section .content {
  margin-top: 15px;
}

.dashboard-section .header {
  margin-top: 15px;
}

.text-right {
  text-align: right;
}

.admin-header--field {
  background-color: rgba(47, 79, 110, 0.5);
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.4);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 100px;
  overflow: scroll;
  min-height: min-content;
}

.admin-header--field span {
  max-height: 100%;
}

.admin-header--field span a {
  color: white;
}

.admin-header--field::-webkit-scrollbar {
  display: none;
}