:root {
  --primary-color: #2572B1;
  --primary-color-faded: rgba(80, 132, 220, 0.4);
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 900px;
}