nav.navbar {
    background-color: var(--primary-color);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.navbar a {
    font-size: 1.6rem;
    font-family: 'Cinzel', serif;
    border-radius: 5px;
}

.navbar a:not(.navbar-brand):hover {
    background-color: #2b8dce;
    box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.2);
}

#nav-icon {
    width: 36px;
    height: 36px;
}